.button {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
body {
  background: rgb(19, 19, 19);
}
button {
  margin: 20px;
  width: 120px;
  height: auto;
  padding: 20px;
  border: none;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 3px 10px 0 rgb(0, 0, 0);
  cursor: pointer;
  font-size: 15px;
}

button:active {
  transform: translatey(4px);
  box-shadow: 3px 5px 0 rgb(0, 0, 0);
}

.btn-happy {
  background-color: rgba(8, 237, 8, 0.828);
}

.btn-medium {
  background-color: rgb(241, 249, 8);
}

.btn-sad {
  background-color: rgb(0, 72, 255);
}

.emotion {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  font-size: 50px;
  padding: 30px;
  background: rgb(140, 140, 140);
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 3px 10px 0 rgb(0, 0, 0);
  cursor: default;
}

.glow {
  box-shadow: 3px 10px 0 rgb(0, 0, 0);
}

.emotion h1 {
  color: black;
  margin: 0;
}
