@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(10, 10, 10);
}

.logo {
    width: 100px;
    cursor: pointer;
}

li, a, button {
    font-family: "Montserrat", "Playfair Display";
    color: white;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li :hover {
    color: blueviolet;
}

button {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    border:none;
    transition: all 0.3 ease 0s;
    cursor: pointer;
}

button:hover{
    background-color: rgb(85, 5, 160);
}
section{
    margin-top: 30px;
}

.card1 {
    font-family: "Playfair Display";
    margin: auto;
    padding: 2em;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: rgb(20, 20, 20);
    position: relative;
}

.card1::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(red,magenta,blue,cyan,lime,yellow,red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: inherit;
}

.card1::before{
    content: '';
    position: absolute;
    inset: 0;
    filter: blur(1.5rem);
    opacity: 0.4;
    background-image: conic-gradient(red,magenta,blue,cyan,lime,yellow,red);
    z-index: -2;
}

.card2 {
    font-family: "Playfair Display";
    margin: auto;
    padding: 2em;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background: rgb(20, 20, 20);
    position: relative;
}

.card2::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(red,magenta,blue,cyan,lime,yellow,red);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: inherit;
}

.card2::before{
     content: '';
    position: absolute;
    inset: 0;
    filter: blur(1.5rem);
    opacity: 0.4;
    background-image: conic-gradient(red,magenta,blue,cyan,lime,yellow,red);
    z-index: -2;
}