@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(222, 220, 220);
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vh;
  width: 370px;
  background-color: white;
  padding: 24px;
  border-radius: 50px;
  border: 3px solid black;
  box-shadow: 6px 15px 0px rgb(41, 41, 41);
  position: relative;
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 100%;
  border-radius: 44px 44px 0 0;
  background-color: black;
}

.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: gray;
  padding: 3px;
}

.image .profile-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid gray;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card .name {
  font-size: 22px;
  font-weight: 100px;
}

.text-data .job {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 50px;
}

.profile-card .media {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.media .link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 30px;
  width: 120px;
  border-radius: 8px;
  margin: 0 8px;
  background-color: black;
  text-decoration: none;
}

.media .link2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: 30px;
  width: 120px;
  border-radius: 8px;
  margin: 0 8px;
  background-color: rgb(232, 12, 12);
  text-decoration: none;
}
